# SPDX-License-Identifier: MIT

menuconfig ORCISHCRAFTS1_LEFT
    bool "OrcishCrafts1 Left"
    select ZMK_DISPLAY
    select LVGL
    select SPLIT_KEYBOARD

menuconfig ORCISHCRAFTS1_RIGHT  
    bool "OrcishCrafts1 Right"
    select ZMK_DISPLAY
    select LVGL
    select SPLIT_KEYBOARD
