# SPDX-License-Identifier: MIT

config SHIELD_ORCISHCRAFTS1_LEFT
    def_bool $(shields_list_contains,orcishcrafts1_left)

config SHIELD_ORCISHCRAFTS1_RIGHT
    def_bool $(shields_list_contains,orcishcrafts1_right)

if SHIELD_ORCISHCRAFTS1_LEFT || SHIELD_ORCISHCRAFTS1_RIGHT

config ORCISHCRAFTS1
    def_bool y

endif
