# SPDX-License-Identifier: MIT

if ORCISHCRAFTS1

config ZMK_DISPLAY
    def_bool y

config LVGL
    def_bool y

config LV_COLOR_DEPTH
    int
    default 16

config SPLIT_KEYBOARD
    def_bool y

endif
