&spi0 {
    status = "okay";
    pinctrl-0 = <&spi0_default>;
    pinctrl-1 = <&spi0_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio0 6 GPIO_ACTIVE_LOW>;        // CS on D1 (P0.06)

    mipi_dbi@0 {
        compatible = "zephyr,mipi-dbi-spi";
        reg = <0>;
        
        /* TIMING FIX: Slow the bus down to 1 MHz to clear signal line reflections */
        spi-max-frequency = <1000000>;            // <--- CHANGED FROM 8000000 TO 1000000
        
        dc-gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;   // DC on D0 (P0.08)
        mipi-mode = <1>;                          
        write-only;                               

        #address-cells = <1>;
        #size-cells = <0>;

        display: display@0 {
            compatible = "sitronix,st7789v";
            reg = <0>;
            
            /* Match child node transmission constraint speed */
            spi-max-frequency = <1000000>;        // <--- CHANGED FROM 8000000 TO 1000000
            
            reset-gpios = <&gpio0 22 GPIO_ACTIVE_LOW>; // RES on D4 (P0.22)

            width = <172>;  
            height = <320>; 
            x-offset = <34>;
            y-offset = <0>;

            colmod = <0x05>;
            gamma = <1>;
            vcom = <0x19>;
            gctrl = <0x35>;
            vrhs = <0x12>;
            vdvs = <0x20>;
            mdac = <0x60>;
            lcm = <0x2c>;

            porch-param = [0c 0c 00 33 33];
            cmd2en-param = [5a 69 02 01];
            pwctrl1-param = [a4 a1];
            pvgam-param = [d0 04 0d 11 13 2b 3f 54 4c 18 0d 0b 1f 23];
            nvgam-param = [d0 04 0c 11 13 2c 3f 44 51 2f 1f 1f 20 23];
            ram-param = [00 f0];
            rgb-param = [cd 08 14];
        };
    };
};
