#include "orcishcrafts1.dtsi"

/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        wakeup-source;

        /* Hardware Column GPIO Pin Tracks for your Right Board Half */
        col-gpios
            = <&gpio1 11 GPIO_ACTIVE_HIGH> 
            , <&gpio1 13 GPIO_ACTIVE_HIGH> 
            , <&gpio1 15 GPIO_ACTIVE_HIGH> 
            , <&gpio0  2 GPIO_ACTIVE_HIGH> 
            , <&gpio0 29 GPIO_ACTIVE_HIGH> 
            , <&gpio0 31 GPIO_ACTIVE_HIGH> 
            ;

        /* Hardware Row GPIO Pin Tracks for your Right Board Half */
        row-gpios
            = <&gpio0 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> 
            , <&gpio0  9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> 
            , <&gpio1  6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> 
            , <&gpio1  4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> 
            , <&gpio1  0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> 
            ;
    };
};

/* 
   THE MIRROR LOCK BREAKER:
   Shifts the right side's electronic scanning index past column 5 
   so it maps natively to the right half of your 12-column wide keymap.
*/
&matrix_transform0 {
    col-offset = <6>;
};
